* {
box-sizing: border-box;
}

.header h2{
text-align: center;
font-family: 'Parisienne', cursive;
font-size: 48px;
color: #916953;
}
.header p{
text-align: center;
font-family: 'Exo', sans-serif;
font-size: 16px;
}
.card{
background-color: #fcddf2;
padding: 5% 15% 5% 15%;
margin-top: 20px;
}
.column {
float: center;
width: 90%;
margin:4.5%;
}
.column h3{
  font-family: 'Lora', serif;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
font-family: 'Exo', sans-serif;
}
li {
float:left;
}
li a {
display: block;
color: #916953;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li img{
display: block;
text-align: center;
height: 32px;
width: 160px;
text-decoration: none;
}
li a:hover {
background-color: #fcb5b5;
}
body{
background-color: #faf6f6;
color: #916953;
font-family: 'Lora' serif;
}
#about{
text-align: center;
float: left;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #fcddf2;
margin-top: 20px;
text-align: left;
}
.footer ol{
background-color:none;
font-family:none;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.column {
  width: 100%;
  padding: 0;
  margin:0;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.topnav a {
  float: none;
  width: 100%;
  margin:0;
}
}
